#search {
    padding: 10px;
}

#leftfoods {
    padding: 1%;
    display: inline;
    width: 20%;
    float: left;
}

#rightfoods {
    /*border: 1px solid #cccccc;*/
    display: inline;
    width: 75%;
    float: right;
}

#foods {
    /*border: 1px solid #cccccc;*/
    padding:10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    _height:200px;
    min-height:200px;
}

.food-div {
    display: flex;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 5px #cccccc;
    width: 80%;
    height: 140px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.food-img {
    float: left;
}

.food-detail {
    margin-left: 20px;
    float: right;
}

.food-title {
    font-size: large;
    width: 600px;
    margin-top: 0px;
    border: 0px;
}

.food-desc {
    width: 600px;
    height: 52px;
    border: 0px;
}

.add-title {
    width: 600px;
    margin-bottom: 3px;
}

.add-desc {
    width: 600px;
    height: 52px;
    margin-bottom: 3px;
}

#img {
    display: inline;
}

#money {
    color: red;
}