#img {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    display: inline;
}

#name {
    width: 520px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    display: inline;
}

.form-control {
    display: inline;
    width: 75%;
}

.line {
    margin-left: 160px;
}

#down {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.text {
    width: 100%;
}

#button {
    float: right;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}